In [6]:
import numpy as np
import pandas as pd
from datetime import datetime
import re
from collections import Counter
from wordcloud import WordCloud
import warnings
import emoji

In [7]:
def seperate_date_time(x):
    date = pd.to_datetime(x.split(', ')[0])
    time = x.split(', ')[1].split(' - ')[0]
    return date, time

In [8]:
def createDf(file_data, dt):
    patterns = {
        '12 Hour':'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s[APap][mM]\s-\s',
        '24 Hour':'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s',
    }
    
    data = ' '.join(file_data.read().split('\n'))
    user_message = re.split(patterns[dt], data)[1:]
    date_time = re.findall(patterns[dt], data)
    
    df = pd.DataFrame({'UserMessage': user_message, 'DateTime': date_time})
    df[['Date','Time']] = df['DateTime'].apply(lambda x: seperate_date_time(x)).to_list()
    users = []
    messages = []
    for message in df['UserMessage']:
        entry = re.split('([\w\W]+?):\s', message)
        if entry[1:]:
            users.append(entry[1])
            messages.append(entry[2])
        else:
            users.append('group_notification')
            messages.append(entry[0])

    df['User'] = users
    df['Message'] = messages
    df.drop(columns=['UserMessage', 'DateTime'], inplace=True)
    return df

In [9]:
f = open('WhatsApp Chat with Say GT (original) 12 hour format.txt', 'r', encoding='utf-8')
df = createDf(f, '12 Hour')

In [196]:
f = open('WhatsApp Chat with Say GT (original) 24 hour format.txt', 'r', encoding='utf-8')
df = pd.DataFrame(createDf(f, '24 Hour'))

In [197]:
f = open('2yearsreport.txt', 'r', encoding='utf-8')
df = pd.DataFrame(createDf(f, '12 Hour'))

In [198]:
f = open('WhatsApp Chat with SAY GT.txt', 'r', encoding='utf-8')
df = pd.DataFrame(createDf(f, '12 Hour'))

In [10]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month_name()
df['MonthNum'] = df['Date'].dt.month
df['DayOfWeek'] = df['Date'].dt.dayofweek
df['WeekNum'] = df['Date'].dt.week
df['Day'] = df['Date'].dt.day
df['DayName'] = df['Date'].dt.day_name()
df['Hour'] = df['Time'].apply(lambda x: x.split(':')[0])
df['Minute'] = df['Time'].apply(lambda x: (x.split(':')[1]).split(' ')[0])

#Uncomment while working with 12 hour file format
df['Meridian'] = df['Time'].apply(lambda x: (x.split(':')[1]).split(' ')[1])  

df.head()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_13844\3928422600.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['WeekNum'] = df['Date'].dt.week

,Date,Time,User,Message,Year,Month,MonthNum,DayOfWeek,WeekNum,Day,DayName,Hour,Minute,Meridian
0,2022-05-09,3:01 PM,group_notification,Messages and calls are end-to-end encrypted. N...,2022,May,5,0,19,9,Monday,3,01,PM
1,2022-05-26,7:21 PM,Clg Divyansh,Robotics ke notes,2022,May,5,3,21,26,Thursday,7,21,PM
2,2022-05-26,7:44 PM,Clg Kushagra Ahire,MST me jo numerical aaye the uske solution bhe...,2022,May,5,3,21,26,Thursday,7,44,PM
3,2022-05-26,7:55 PM,Clg Abbas Amjhera,<Media omitted>,2022,May,5,3,21,26,Thursday,7,55,PM
4,2022-05-26,8:05 PM,+91 6239 413 783,Bhai notes bhej do yrr koi üôèüèª,2022,May,5,3,21,26,Thursday,8,05,PM

# Fetch Stats

In [107]:
def fetch_stats(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  num_messages = df.shape[0]
  diff_days = (df.Date.iloc[len(df)-1] - df.Date.iloc[0]).days
  words = []
  for message in df['Message']:
    words.extend(message.split())

  num_media_messages = df[df['Message'] == '<Media omitted>\n'].shape[0]
  return num_messages, len(words), num_media_messages, diff_days

In [108]:
fetch_stats('Overall', df)

(4201, 21507, 0, 144)

# Removed/Left User

In [128]:
def seperate(x, seperator):
    if seperator == 'removed':
        if x.find(seperator) != -1:
            return x.split(seperator)[1]
        else:
            return x.split('left')[0]
    else:
        if x.find(seperator) != -1:
            return x.split(seperator)[1]
        else:
            return x.split('joined')[0]

In [129]:
seperate('Dhakad Svvv removed +91 94240 96950', 'removed')

' +91 94240 96950'

In [11]:
seperate('You left', 'removed')

'You '

In [12]:
seperate('Dhakad Svvv added +91 98937 63178', 'added')

' +91 98937 63178'

In [13]:
seperate('Hrishikesh Svvv joined using this group', 'added')

'Hrishikesh Svvv '

In [14]:
def removed_left(df):
    df = df[df['User']=='group_notification']
    df = df[df['Message'].str.contains('changed|deleted|encrypted|created') == False]
    removedLeft = df[df['Message'].str.contains('removed|left') ==  True]
    addedJoined = df[df['Message'].str.contains('added|joined') == True]
    removedLeft['Status'] = 0
    addedJoined['Status'] = 1
    removedLeft['User'] = removedLeft.Message.apply(lambda x: seperate(x, 'removed'))
    addedJoined['User'] = addedJoined.Message.apply(lambda x: seperate(x, 'added'))
    new_df = pd.concat([removedLeft, addedJoined])
    new_df.drop(columns=['Date','Time', 'Message', 'Year', 'Month', 'MonthNum', 'DayOfWeek', 'WeekNum', 'Day', 'Hour', 'DayName', 'Minute'], inplace=True, axis=1)
    new_df['User'] = new_df['User'].str.lower()
    new_df['User'] = new_df['User'].str.split(', ')
    new_df = new_df.explode('User')
    new_df['User'] = new_df['User'].str.split(' and ')
    new_df = new_df.explode('User')
    new_df['User'] = new_df['User'].str.strip()
    new_df = new_df.groupby('User')['Status'].count().reset_index()
    new_df['Status'] = new_df.Status.apply(lambda x: x%2 == 0)
    return len(new_df[new_df.Status==True])

In [15]:
removed_left(df)

C:\Users\lenovo\AppData\Local\Temp/ipykernel_4768/962002200.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removedLeft['Status'] = 0
C:\Users\lenovo\AppData\Local\Temp/ipykernel_4768/962002200.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addedJoined['Status'] = 1
C:\Users\lenovo\AppData\Local\Temp/ipykernel_4768/962002200.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  removedLeft['User'] = removedLeft.Message.apply(lambda x: seperate(x, 'removed'))
C:\Users\lenovo\AppData\Local\Temp/ipykernel_4768/962002200.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  addedJoined['User'] = addedJoined.Message.apply(lambda x: seperate(x, 'added'))

4

# Chatting From

In [16]:
def chat_from(selected_user, df):
    if selected_user != 'Overall':
        df = df[df['User'] == selected_user]
    unique_years = df['Year'].unique()
    start_year = unique_years[0]
    msg_count = df.groupby(['Date']).count()['Message']
    avg_msg = round(msg_count.mean(),2)
    return start_year, avg_msg

In [17]:
chat_from('Overall', df)

(2022, 22.42)

# Most Talkative

In [18]:
def most_talkative(df):
    df = df[df['User'] != 'group_notification']
    user = df['User'].value_counts()
    username = user.index[0]
    avg_msg = round(user[username]/len(df)*100, 2)
    return username, avg_msg

In [19]:
most_talkative(df)

('Clg Ashvin birla', 15.12)

# Influencer

In [50]:
def influencer(df):
    df = df[df['User'] != 'group_notification']
    new_df = df.groupby(['User'])
    inf_dict = {}
    for name, group in new_df:
        count = 0
        for i in group['Message']:
            if '<Media omitted>' in i:
                count += 1
        inf_dict[name]=count
    name = max(inf_dict, key=inf_dict.get)
    name_df = df[df['User']==name]
    percent = (inf_dict[name]/name_df.shape[0])*100
    return name,round(percent,2), inf_dict[name]

In [51]:
influencer(df)

('Clg Abbas Amjhera', 13.56, 16)

# Long Winded

In [96]:
def long_winded(df):
    df = df[df['User'] != 'group_notification']
    msg_len = []
    for i in df['Message']:
        msg_len.append(len(i))
    df['Message_len'] = msg_len
    new_df = df.sort_values(by=['Message_len'],ascending=False)
    name = new_df.iloc[0]['User']
    user_df = df[df['User']==name]
    avg_msg_len = int(user_df['Message_len'].mean())
    mean_character = user_df[user_df['Message_len'] > avg_msg_len]
    percentage = round((mean_character.shape[0] / user_df.shape[0])*100, 2)
    return name, avg_msg_len, percentage

In [100]:
long_winded(df)

C:\Users\lenovo\AppData\Local\Temp/ipykernel_8888/894688028.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Message_len'] = msg_len

('Clg Akshat Khujneri', 105, 16.67)

# Professor

In [140]:
df.sample(15)

,Date,Time,User,Message,Year,Month,MonthNum,DayOfWeek,WeekNum,Day,DayName,Hour,Minute,Meridian
332,2022-06-10,11:15 AM,Clg Kushagra Ahire,kar diya fir bhi ni aara,2022,June,6,4,23,10,Friday,11,15,AM
306,2022-06-09,2:22 PM,Clg Achyut Sudele,Thanks buddy,2022,June,6,3,23,9,Thursday,2,22,PM
1364,2022-08-12,11:04 PM,Clg Amit Pandey,mai diyaa he ni vo test demo vala ab lag rhaa ...,2022,August,8,4,32,12,Friday,11,04,PM
929,2022-07-23,8:23 PM,Clg Abhishek Jain,All,2022,July,7,5,29,23,Saturday,8,23,PM
635,2022-06-27,10:28 PM,Clg Garv Chouhan,#laga do,2022,June,6,0,26,27,Monday,10,28,PM
904,2022-07-20,5:02 PM,Clg Divyansh,Ye wala form fill ho raha hai kya??,2022,July,7,2,29,20,Wednesday,5,02,PM
611,2022-06-27,9:34 PM,Clg Ankit Torani,9 se 12,2022,June,6,0,26,27,Monday,9,34,PM
839,2022-07-09,11:34 PM,Clg Anmol Joshi,<Media omitted>,2022,July,7,5,27,9,Saturday,11,34,PM
634,2022-06-27,10:27 PM,Clg Govind,Shuru kro,2022,June,6,0,26,27,Monday,10,27,PM
12,2022-05-26,9:45 PM,Clg Kushagra Ahire,<Media omitted>,2022,May,5,3,21,26,Thursday,9,45,PM
1239,2022-08-07,8:31 PM,Clg Amit Pandey,üíÅ‚Äç‚ôÇÔ∏èü§¶‚Äç‚ôÇÔ∏è,2022,August,8,6,31,7,Sunday,8,31,PM
175,2022-06-01,1:08 PM,Clg Anmol Joshi,Nashe kam kro aap khana khaa rahe ho idhar jai...,2022,June,6,2,22,1,Wednesday,1,08,PM
1011,2022-07-28,8:56 AM,Clg Kushagra Ahire,https://teams.microsoft.com/l/message/19:fe4b5...,2022,July,7,3,30,28,Thursday,8,56,AM
953,2022-07-23,11:21 PM,Clg Anmol Joshi,This message was deleted,2022,July,7,5,29,23,Saturday,11,21,PM
364,2022-06-10,12:05 PM,Clg Kushagra Ahire,Tu bhi aaja college,2022,June,6,4,23,10,Friday,12,05,PM

# Emoji Lover

In [36]:
def emojized_user(df):
    df=df[df['User']!='group_notification']
    emoji_user = {}
    new_df = df.groupby(['User'])
    for i in df['User'].unique():
        count = 0
        group = new_df.get_group(i)
        for j in group['Message']:
            for k in j:
                if emoji.is_emoji(k):
                    count += 1
        emoji_user[i]=count   
    name = max(emoji_user, key=emoji_user.get)
    total = emoji_user.values()
    percent = round((emoji_user[name]/sum(total))*100, 2)
    return name, percent

In [37]:
emojized_user(df)

('Clg Ashvin birla', 19.83)

# Early Bird

In [301]:
def early_bird(df, format):
    new_df = df[df['User']!='group_notification']
    if format == '12 Hour':
        new_df = new_df[((new_df['Meridian'] == 'AM') & (pd.to_numeric(new_df['Hour']) > 7)) | (new_df['Meridian'] == 'PM')]
    elif format == '24 Hour':
        new_df = df[pd.to_numeric(df['Hour']) > 7]
    user = new_df['User'].value_counts()
    username = user.index[0]
    avg_msg = round(user[username]/len(new_df)*100, 2)
    return username, avg_msg

In [302]:
early_bird(df, '12 Hour')

('Clg Ashvin birla', 15.1)

In [294]:
early_bird(df, '24 Hour')

('Clg Ashvin birla', 14.8)

# Night Owl

In [303]:
def night_owl(df, format):
    new_df = df[df['User']!='group_notification']
    if format == '12 Hour':
        new_df = new_df[((new_df['Meridian'] == 'AM') & (pd.to_numeric(new_df['Hour']) < 7)) | (new_df['Meridian'] == 'PM')]
    elif format == '24 Hour':
        new_df = new_df[(pd.to_numeric(new_df['Hour']) < 6) | (pd.to_numeric(new_df['Hour']) > 11)]
    user = new_df['User'].value_counts()
    username = user.index[0]
    avg_msg = round(user[username]/len(new_df)*100, 2)
    return username, avg_msg

In [304]:
night_owl(df, '12 Hour')

('Clg Ashvin birla', 15.89)

In [293]:
night_owl(df, '24 Hour')

('Clg Ashvin birla', 16.04)

# Most Shared Links

In [142]:
def get_urls(selected_user, df):
    if selected_user != 'Overall':
        df = df[df['User'] == selected_user]
    df = df[df['User'] != 'group_notification']
    urls_list = []
    url = []
    for i in df['Message']:
        o = re.findall('(https://.*)|(http://.*)',i)
        if len(o) != 0:
            urls_list.append(o[0][0].split(' ')[0])
    if len(urls_list) != 0:
        for i in urls_list:
            o = re.search('.*[.](com|net|org|edu|gov|mil|aero|asia|biz|cat|coop|info|int|jobs|mobi|museum|name|post|pro|tel|travel|xxx|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cs|cu|cv|cx|cy|cz|dd|de|dj|dk|dm|do|dz|ec|ee|eg|eh|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kp|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|me|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|rs|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|Ja|sk|sl|sm|sn|so|sr|ss|st|su|sv|sx|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)',i)
            if o != None:
                url.append(o.group())
        url_df = pd.DataFrame(Counter(url).most_common(len(Counter(url))), columns=['Urls', 'Count'])
        return url_df
    else:
        return pd.DataFrame()

In [153]:
get_urls(df, 'Overall')

                          Urls  Count
0  https://teams.microsoft.com      4
1             https://forms.gl      3
2      https://docs.google.com      3
3    https://chat.whatsapp.com      2
4               https://bit.ly      1
5          https://www.tcs.com      1
6      https://meet.google.com      1
7          https://youtube.com      1

# Most Shared Emojis

In [65]:
def get_emojis(selected_user, df):
    if selected_user != 'Overall':
        df = df[df['User'] == selected_user]
    emojis = []
    description = []
    for message in df['Message']:
        all_emoji = emoji.distinct_emoji_list(message)
        emojis.extend([emoji.emojize(is_emoji) for is_emoji in all_emoji])
    emoji_df = pd.DataFrame(Counter(emojis).most_common(len(Counter(emojis))), columns=['Emoji', 'Count'])
    for i in emoji_df['Emoji']:
        description.append(emoji.demojize(i))
    emoji_df['Description'] = description
    emoji_df['Description'] = emoji_df['Description'].apply(lambda x: x.strip(':'))
    emoji_df['EmojiDescription'] = emoji_df['Emoji'] + ' - ' + emoji_df['Description']
    return emoji_df

In [66]:
get_emojis('Overall', df)

,Emoji,Count,Description,EmojiDescription
0,üòÇ,40,face_with_tears_of_joy,üòÇ - face_with_tears_of_joy
1,ü§£,23,rolling_on_the_floor_laughing,ü§£ - rolling_on_the_floor_laughing
2,üòÖ,20,grinning_face_with_sweat,üòÖ - grinning_face_with_sweat
3,üôÇ,20,slightly_smiling_face,üôÇ - slightly_smiling_face
4,ü•≥,11,partying_face,ü•≥ - partying_face
5,üôÑ,7,face_with_rolling_eyes,üôÑ - face_with_rolling_eyes
6,üíê,7,bouquet,üíê - bouquet
7,üòÅ,7,beaming_face_with_smiling_eyes,üòÅ - beaming_face_with_smiling_eyes
8,ü•≤,6,smiling_face_with_tear,ü•≤ - smiling_face_with_tear
9,üôè,5,folded_hands,üôè - folded_hands
10,üëç,5,thumbs_up,üëç - thumbs_up
11,üéâ,4,party_popper,üéâ - party_popper
12,‚òπÔ∏è,4,frowning_face,‚òπÔ∏è - frowning_face
13,üíÅ‚Äç‚ôÇÔ∏è,4,man_tipping_hand,üíÅ‚Äç‚ôÇÔ∏è - man_tipping_hand
14,‚úã,3,raised_hand,‚úã - raised_hand
15,üëçüèª,3,thumbs_up_light_skin_tone,üëçüèª - thumbs_up_light_skin_tone
16,üëè,3,clapping_hands,üëè - clapping_hands
17,üî™,3,kitchen_knife,üî™ - kitchen_knife
18,‚úãüèª,3,raised_hand_light_skin_tone,‚úãüèª - raised_hand_light_skin_tone
19,üò≠,2,loudly_crying_face,üò≠ - loudly_crying_face
20,üî•,2,fire,üî• - fire
21,üôã‚Äç‚ôÇÔ∏è,2,man_raising_hand,üôã‚Äç‚ôÇÔ∏è - man_raising_hand
22,ü§ö,2,raised_back_of_hand,ü§ö - raised_back_of_hand
23,ü§üüèª,2,love-you_gesture_light_skin_tone,ü§üüèª - love-you_gesture_light_skin_tone
24,ü§î,2,thinking_face,ü§î - thinking_face
25,üòí,2,unamused_face,üòí - unamused_face
26,ü´§,2,face_with_diagonal_mouth,ü´§ - face_with_diagonal_mouth
27,üôèüèª,1,folded_hands_light_skin_tone,üôèüèª - folded_hands_light_skin_tone
28,üò¢,1,crying_face,üò¢ - crying_face
29,‚òÆÔ∏è,1,peace_symbol,‚òÆÔ∏è - peace_symbol
30,üòï,1,confused_face,üòï - confused_face
31,ü•∫,1,pleading_face,ü•∫ - pleading_face
32,üòà,1,smiling_face_with_horns,üòà - smiling_face_with_horns
33,ü§®,1,face_with_raised_eyebrow,ü§® - face_with_raised_eyebrow
34,üå∫,1,hibiscus,üå∫ - hibiscus
35,ü§ù,1,handshake,ü§ù - handshake
36,üå∑,1,tulip,üå∑ - tulip
37,üòî,1,pensive_face,üòî - pensive_face
38,üò≥,1,flushed_face,üò≥ - flushed_face
39,üç∑,1,wine_glass,üç∑ - wine_glass
40,ü´°,1,saluting_face,ü´° - saluting_face
41,üëÄ,1,eyes,üëÄ - eyes
42,‚ÄºÔ∏è,1,double_exclamation_mark,‚ÄºÔ∏è - double_exclamation_mark
43,üéØ,1,bullseye,üéØ - bullseye
44,üï∫,1,man_dancing,üï∫ - man_dancing
45,üôÉ,1,upside-down_face,üôÉ - upside-down_face
46,‚ù§Ô∏è,1,red_heart,‚ù§Ô∏è - red_heart
47,ü•Ç,1,clinking_glasses,ü•Ç - clinking_glasses
48,üòπ,1,cat_with_tears_of_joy,üòπ - cat_with_tears_of_joy
49,ü§¶‚Äç‚ôÇÔ∏è,1,man_facepalming,ü§¶‚Äç‚ôÇÔ∏è - man_facepalming
50,üòè,1,smirking_face,üòè - smirking_face

# Hourly Timeline

In [570]:
def hourly_timeline(selected_user, df, format):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  
  new_df['Message'] = [1] * new_df.shape[0]
  if format == '12 Hour':
    new_df['Hour'] = new_df['Hour'].astype(str) + ' ' + new_df['Meridian'].astype(str)
    new_df = new_df.groupby('Hour').sum().reset_index()
  else:
    new_df = new_df.groupby('Hour').sum().reset_index()
  return new_df

In [571]:
hourly_timeline('Overall', df, '24 Hour')

C:\Users\lenovo\AppData\Local\Temp/ipykernel_1848/631085096.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Message'] = [1] * new_df.shape[0]

   Hour  Message     Year  MonthNum  DayOfWeek  WeekNum   Day
0     1      650  1314300      4040       2163    15824  7798
1    10      345   697590      2191        841     8817  5387
2    11      477   964494      3334       1368    13616  8382
3    12      665  1344630      5569       2209    22606  9090
4     2      202   408444      1211        634     4821  3115
5     3      184   372048      1315        452     5357  3022
6     4      144   291168      1024        397     4146  2243
7     5      219   442818      1088        500     4186  2639
8     6      163   329586       842        530     3145  1430
9     7      161   325542       952        404     3832  2690
10    8      403   814866      2543       1041    10233  6434
11    9      516  1043352      3751        924    15379  8653

# Daily Timeline

In [572]:
def daily_timeline(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df = new_df.groupby('Date')['Message'].count().reset_index()
  return new_df

In [573]:
daily_timeline('Overall', df)

          Date  Message
0   2022-01-05       29
1   2022-01-06      172
2   2022-01-07        6
3   2022-01-09       14
4   2022-02-05       33
..         ...      ...
113 2022-11-09       53
114 2022-12-05       17
115 2022-12-06       29
116 2022-12-08       23
117 2022-12-09      355

[118 rows x 2 columns]

# Weekly Timeline

In [617]:
def weekly_timeline(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df  = df.groupby(['Year','Month','WeekNum'], sort=False)['Message'].count().reset_index()
  week = []
  for i in range(len(new_df)):
    week.append(str(new_df['WeekNum'][i]) + " - " + new_df['Month'][i] + " - " + str(new_df['Year'][i]))
  new_df['Week'] = week
  new_df['Week'] = new_df[['WeekNum', 'Week']].apply(lambda x: "Week 0"+x['Week'] if x['WeekNum']<10 else "Week "+x['Week'], axis=1)
  new_df.sort_values(['WeekNum', 'Month', 'Year'], inplace=True)
  return new_df

In [618]:
weekly_timeline('Overall', df)

    Year      Month  WeekNum  Message                        Week
1   2022    January        1      225    Week 01 - January - 2022
2   2022   February        5       42   Week 05 - February - 2022
20  2022   February        6       77   Week 06 - February - 2022
3   2022      March        9      114      Week 09 - March - 2022
21  2022      March       10      112      Week 10 - March - 2022
4   2022      April       14      210      Week 14 - April - 2022
0   2022      April       17      291      Week 17 - April - 2022
5   2022        May       18       65        Week 18 - May - 2022
13  2022        May       19      149        Week 19 - May - 2022
14  2022        May       20      185        Week 20 - May - 2022
15  2022        May       21      185        Week 21 - May - 2022
6   2022       June       22        6       Week 22 - June - 2022
16  2022        May       22       42        Week 22 - May - 2022
22  2022       June       23       38       Week 23 - June - 2022
17  2022       June       24       53       Week 24 - June - 2022
18  2022       June       25       23       Week 25 - June - 2022
19  2022       June       26       97       Week 26 - June - 2022
7   2022       July       27      124       Week 27 - July - 2022
23  2022       July       28       15       Week 28 - July - 2022
24  2022       July       29      126       Week 29 - July - 2022
25  2022       July       30       37       Week 30 - July - 2022
8   2022     August       31      128     Week 31 - August - 2022
26  2022     August       32       31     Week 32 - August - 2022
28  2022     August       33      120     Week 33 - August - 2022
29  2022     August       34      645     Week 34 - August - 2022
30  2022     August       35       24     Week 35 - August - 2022
9   2022  September       36      175  Week 36 - September - 2022
31  2022  September       37      123  Week 37 - September - 2022
10  2022    October       40      220    Week 40 - October - 2022
11  2022   November       44       24   Week 44 - November - 2022
27  2022   November       45       68   Week 45 - November - 2022
12  2022   December       49      427   Week 49 - December - 2022

In [449]:
weekly_timeline('+91 6239 413 783', df)

    Year      Month  WeekNum  Message                        Week
9   2021    January        1        1     Week 2 - January - 2020
0   2020    January        2        2   Week 51 - December - 2020
7   2021   February        5        1   Week 52 - December - 2020
5   2021      March       12        1        Week 17 - May - 2021
6   2021      April       16        4       Week 22 - June - 2021
3   2021        May       17        1      Week 12 - March - 2021
4   2021       June       22        1      Week 16 - April - 2021
13  2021       June       23        1    Week 5 - February - 2021
8   2021       June       24        5       Week 24 - June - 2021
11  2021  September       37        1     Week 1 - January - 2021
10  2021    October       40        1    Week 40 - October - 2021
12  2021   November       47        1  Week 37 - September - 2021
1   2020   December       51        2   Week 47 - November - 2021
2   2020   December       52        4       Week 23 - June - 2021

# Monthly Timeline

In [632]:
def monthly_timeline(selected_user, df):
    if selected_user != 'Overall':
      df = df[df['User'] == selected_user]
    new_df = df[df['User'] != 'group_notification']
    new_df  = df.groupby(['Year','Month','MonthNum'], sort=False)['Message'].count().reset_index()
    month = []
    for i in range(new_df.shape[0]):
        month.append(str(new_df['MonthNum'][i]) + " - " + new_df['Month'][i] + " - " + str(new_df['Year'][i]))
    new_df['Months'] = month
    new_df['Months'] = new_df[['MonthNum', 'Months']].apply(lambda x: "Month 0"+x['Months'] if x['MonthNum']<10 else "Month "+x['Months'], axis=1)
    new_df.sort_values(['MonthNum', 'Year'], inplace=True)
    return new_df

In [633]:
monthly_timeline('Overall', df)

    Year      Month  MonthNum  Message                       Months
1   2022    January         1      225    Month 01 - January - 2022
2   2022   February         2      119   Month 02 - February - 2022
3   2022      March         3      226      Month 03 - March - 2022
0   2022      April         4      501      Month 04 - April - 2022
4   2022        May         5      626        Month 05 - May - 2022
5   2022       June         6      217       Month 06 - June - 2022
6   2022       July         7      302       Month 07 - July - 2022
7   2022     August         8      948     Month 08 - August - 2022
8   2022  September         9      298  Month 09 - September - 2022
9   2022    October        10      220    Month 10 - October - 2022
10  2022   November        11       92   Month 11 - November - 2022
11  2022   December        12      427   Month 12 - December - 2022

# Most Busy Day

In [611]:
def most_busy_day(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  
  new_df = new_df.groupby(['DayName', 'DayOfWeek'], sort=False)['Message'].count().reset_index()
  new_df.sort_values('DayOfWeek', inplace=True)
  new_df['Days'] = new_df['DayOfWeek'].astype(str) + " - " + new_df['DayName']
  return new_df

In [612]:
most_busy_day('Overall', df)

     DayName  DayOfWeek  Message           Days
0     Monday          0      655     0 - Monday
1    Tuesday          1      500    1 - Tuesday
2  Wednesday          2      586  2 - Wednesday
3   Thursday          3      688   3 - Thursday
4     Friday          4     1025     4 - Friday
5   Saturday          5      423   5 - Saturday
6     Sunday          6      252     6 - Sunday

# Most Busy Month

In [626]:
def most_busy_month(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  
  new_df = new_df.groupby(['MonthNum', 'Month'], sort=False)['Message'].count().reset_index()
  new_df.sort_values('MonthNum', inplace=True)
  new_df['Months'] = new_df['MonthNum'].astype(str) + " - " + new_df['Month']
  new_df['Months'] = new_df[['MonthNum', 'Months']].apply(lambda x: "Month 0"+x['Months'] if x['MonthNum']<10 else "Month "+x['Months'], axis=1)
  return new_df

In [627]:
most_busy_month('Overall', df)
# temp['Months']

    MonthNum      Month  Message                Months
1          1    January      221    Month 01 - January
2          2   February      119   Month 02 - February
3          3      March      223      Month 03 - March
0          4      April      482      Month 04 - April
4          5        May      614        Month 05 - May
5          6       June      216       Month 06 - June
6          7       July      299       Month 07 - July
7          8     August      924     Month 08 - August
8          9  September      297  Month 09 - September
9         10    October      218    Month 10 - October
10        11   November       92   Month 11 - November
11        12   December      424   Month 12 - December

# User Chat Percentage

In [132]:
def user_chat_percentage(df):
    df = df[df['User'] != 'group_notification']
    user = df['User'].value_counts()
    new_df = pd.DataFrame ({ 'User': user.index, 'Message': user})
    new_df['Percentage'] = new_df['Message'].apply(lambda x: round(x/len(df)*100, 2))
    new_df['User'] = new_df['Percentage'].astype(str) + "% - " + new_df['User']
    new_df.drop('Message', axis=1, inplace=True)
    new_df.reset_index(drop=True,inplace=True)
    return new_df

In [133]:
user_chat_percentage(df)

                            User  Percentage
0      15.07% - Clg Ashvin birla       15.07
1     11.49% - Clg Abhishek Jain       11.49
2     9.11% - Clg Kushagra Ahire        9.11
3        8.55% - Clg Amit Pandey        8.55
4      8.27% - Clg Abbas Amjhera        8.27
5           4.13% - Clg Divyansh        4.13
6           4.13% - Clg Charchil        4.13
7        3.92% - Clg Anmol Joshi        3.92
8        3.36% - +91 96309 40258        3.36
9        3.08% - +91 72409 15291        3.08
10      2.87% - Clg Ankit Bhalot        2.87
11        2.17% - Clg Anil nagar        2.17
12       2.1% - Clg Garv Chouhan        2.10
13       2.03% - Clg Deepak Sahu        2.03
14       1.96% - Clg Ankit Patel        1.96
15      1.82% - Clg harshvardhan        1.82
16            1.75% - Clg Govind        1.75
17     1.47% - Clg Gopala Sharma        1.47
18      1.12% - Clg Ankit Torani        1.12
19             1.12% - Clg Atman        1.12
20    1.05% - Clg Aaditya Mishra        1.05
21       0.84% - +91 87705 37687        0.84
22   0.84% - Clg Anirudh Agrawal        0.84
23   0.84% - Clg Akshat Khujneri        0.84
24       0.77% - +91 96857 80227        0.77
25         0.77% - Anshul Sharma        0.77
26           0.7% - Clg Aman Rai        0.70
27         0.63% - Clg Rahul Rai        0.63
28  0.56% - Clg Kushagra Krishna        0.56
29     0.49% - Clg Achyut Sudele        0.49
30       0.35% - +91 72248 82210        0.35
31         0.35% - Clg Durganshi        0.35
32      0.35% - +91 6239 413 783        0.35
33    0.28% - Clg Anushka Porwal        0.28
34         0.28% - Clg Ali Asgar        0.28
35   0.28% - Clg Bhanu Choudhary        0.28
36      0.21% - Clg Ayush pandya        0.21
37         0.21% - Clg Aranjeeta        0.21
38           0.14% - Clg Devshee        0.14
39            0.14% - Clg Amisha        0.14
40     0.14% - Clg Chirag Tiwari        0.14
41     0.07% - Clg Ayush chouhan        0.07
42     0.07% - Clg Rishika Gupta        0.07
43         0.07% - Clg Rishikesh        0.07

# Most Common Word

In [168]:
def most_common_words(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df = new_df[~new_df['Message'].str.contains('<Media omitted>')]
  f = open('stop_hinglish.txt')
  stop_words = f.read()

  words = []

  for message in new_df['Message']:
    for word in message.lower().split():
      if word not in stop_words:
        words.append(word)
  
  most_common_df = pd.DataFrame(Counter(words).most_common(20), columns=['Message', 'Count'])
  most_common_df.sort_values('Count')
  return most_common_df

In [169]:
most_common_words('Overall', df)

    Message  Count
0   message     69
1   deleted     67
2       tcs     42
3      form     25
4      jain     23
5      mail     20
6   digital     19
7     drive     18
8    option     17
9     apply     17
10    ninja     17
11      gya     16
12  college     16
13        üòÇ     15
14    class     15
15     test     15
16      clg     13
17    batch     13
18    paper     12
19    abbas     12

# Word Cloud

In [274]:
def create_wordcloud(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df = new_df[new_df['Message'] != '<Media omitted>\n']
  
  f = open('stop_hinglish.txt')
  stop_words = f.read()

  def remove_stop_words(message):
    y = []
    for word in message.lower().split():
      if word not in stop_words:
        y.append(word)
    return " ".join(y)

  wc = WordCloud(width=500, height=500, min_font_size=10)
  new_df['Message'] = new_df['Message'].apply(remove_stop_words)
  df_wc = wc.generate(new_df['Message'].str.cat(sep=" "))
  return df_wc

In [275]:
create_wordcloud('Overall', df)

In [406]:
pd.to_datetime('25-04-2022')

Timestamp('2022-04-25 00:00:00')