In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import re

In [3]:
def seperate_date_time(x):
    date = pd.to_datetime(x.split(', ')[0], format="%m/%d/%y")
    time = x.split(', ')[1].split(' - ')[0]
    return date, time

In [4]:
def createDf(file_data, dt):
    patterns = {
        '12 Hour':'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s[APap][mM]\s-\s',
        '24 Hour':'\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s',
    }
    
    data = ' '.join(file_data.read().split('\n'))
    user_message = re.split(patterns[dt], data)[1:]
    date_time = re.findall(patterns[dt], data)
    
    df = pd.DataFrame({'user_message': user_message, 'date_time': date_time})
    df[['date','time']] = df['date_time'].apply(lambda x: seperate_date_time(x)).to_list()
    users = []
    messages = []
    for message in df['user_message']:
        entry = re.split('([\w\W]+?):\s', message)
        if entry[1:]:
            users.append(entry[1])
            messages.append(entry[2])
        else:
            users.append('group_notification')
            messages.append(entry[0])

    df['user'] = users
    df['message'] = messages
    df.drop(columns=['user_message', 'date_time'], inplace=True)
    return df

In [13]:
f = open('WhatsApp Chat with Say GT (original) 12 hour format.txt', 'r', encoding='utf-8')
df = createDf(f, '12 Hour')

In [5]:
f = open('WhatsApp Chat with Say GT (original) 24 hour format.txt', 'r', encoding='utf-8')
df = pd.DataFrame(createDf(f, '24 Hour'))

In [18]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month_name()
df['month_num'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_name'] = df['date'].dt.day_name()
df['hour'] = df['time'].apply(lambda x: x.split(':')[0])
df['minute'] = df['time'].apply(lambda x: (x.split(':')[1]).split(' ')[0])

#Uncomment while working with 12 hour file format
# df['meridian'] = df['time'].apply(lambda x: (x.split(':')[1]).split(' ')[1])  

df.head()

,date,time,user,message,year,month,month_num,day,day_name,hour,minute,meridian
0,2022-05-09,3:01 PM,group_notification,Messages and calls are end-to-end encrypted. N...,2022,May,5,9,Monday,3,01,PM
1,2022-05-26,7:21 PM,Clg Divyansh,Robotics ke notes,2022,May,5,26,Thursday,7,21,PM
2,2022-05-26,7:44 PM,Clg Kushagra Ahire,MST me jo numerical aaye the uske solution bhe...,2022,May,5,26,Thursday,7,44,PM
3,2022-05-26,7:55 PM,Clg Abbas Amjhera,<Media omitted>,2022,May,5,26,Thursday,7,55,PM
4,2022-05-26,8:05 PM,+91 6239 413 783,Bhai notes bhej do yrr koi üôèüèª,2022,May,5,26,Thursday,8,05,PM

# Hourly Timeline

In [33]:
def hourly_timeline(selected_user, df, format):
  if selected_user != 'Overall':
    df = df[df['user'] == selected_user]
  new_df = df[df['user'] != 'group_notification']
  
  new_df['message_count'] = [1] * new_df.shape[0]
  if format == '12 Hour':
    new_df['hour'] = new_df['hour'].astype(str) + ' ' + new_df['meridian'].astype(str)
    new_df = new_df.groupby('hour').sum().reset_index()
  else:
    new_df = new_df.groupby('hour').sum().reset_index()
  return new_df

In [32]:
hourly_timeline('Overall', df, '12 Hour')

C:\Users\lenovo\AppData\Local\Temp/ipykernel_14256/2311481109.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['message_count'] = [1] * new_df.shape[0]
C:\Users\lenovo\AppData\Local\Temp/ipykernel_14256/2311481109.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['hour'] = new_df['hour'].astype(str) + ' ' + new_df['meridian'].astype(str)

     hour    year  month_num   day  message_count
0    1 AM   28308         97   260             14
1    1 PM  396312       1241  1010            196
2   10 AM   99078        303   804             49
3   10 PM  121320        440   596             60
4   11 AM  208266        721  1347            103
5   11 PM  204222        698  1886            101
6   12 AM   44484        141   497             22
7   12 PM  309366       1014  1448            153
8    2 AM    6066         18    85              3
9    2 PM  137496        460   919             68
10   3 AM   10110         31   128              5
11   3 PM  232530        715  1710            115
12   4 AM    2022          6     2              1
13   4 PM  141540        437  1083             70
14   5 PM  198156        701   904             98
15   6 PM   78858        266   404             39
16   7 AM    4044         12    18              2
17   7 PM   56616        184   385             28
18   8 AM   28308         97   322             14
19   8 PM  285102       1059  1451            141
20   9 AM   88968        294   462             44
21   9 PM  234552        817  1922            116

In [9]:
def daily_timeline(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['user'] == selected_user]
  new_df = df[df['user'] != 'group_notification']
  
  new_df['message_count'] = [1] * new_df.shape[0]
  new_df = new_df.groupby('date').sum().reset_index()
  return new_df

In [10]:
daily_timeline('Overall', df)

C:\Users\lenovo\AppData\Local\Temp/ipykernel_14256/3519479828.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['message_count'] = [1] * new_df.shape[0]

         date    year  month_num   day  message_count
0  2022-05-26   32352         80   416             16
1  2022-05-27   28308         70   378             14
2  2022-05-28   10110         25   140              5
3  2022-05-29   16176         40   232              8
4  2022-05-30   74814        185  1110             37
5  2022-05-31   10110         25   155              5
6  2022-06-01  347784       1032   172            172
7  2022-06-02   18198         54    18              9
8  2022-06-03   30330         90    45             15
9  2022-06-07    4044         12    14              2
10 2022-06-08   12132         36    48              6
11 2022-06-09   40440        120   180             20
12 2022-06-10  339696       1008  1680            168
13 2022-06-11    4044         12    22              2
14 2022-06-12   58638        174   348             29
15 2022-06-13   38418        114   247             19
16 2022-06-15    6066         18    45              3
17 2022-06-16   60660        180   480             30
18 2022-06-17    2022          6    17              1
19 2022-06-23   30330         90   345             15
20 2022-06-24    6066         18    72              3
21 2022-06-25   10110         30   125              5
22 2022-06-27  157716        468  2106             78
23 2022-06-28   12132         36   168              6
24 2022-06-29   28308         84   406             14
25 2022-07-01   12132         42     6              6
26 2022-07-02   22242         77    22             11
27 2022-07-03    4044         14     6              2
28 2022-07-04    2022          7     4              1
29 2022-07-07    6066         21    21              3
30 2022-07-08  173892        602   688             86
31 2022-07-09   95034        329   423             47
32 2022-07-15   24264         84   180             12
33 2022-07-16    2022          7    16              1
34 2022-07-17    4044         14    34              2
35 2022-07-18   50550        175   450             25
36 2022-07-19   24264         84   228             12
37 2022-07-20   18198         63   180              9
38 2022-07-21   14154         49   147              7
39 2022-07-22   18198         63   198              9
40 2022-07-23  105144        364  1196             52
41 2022-07-24   26286         91   312             13
42 2022-07-26   10110         35   130              5
43 2022-07-27   20220         70   270             10
44 2022-07-28   18198         63   252              9
45 2022-07-29   12132         42   174              6
46 2022-07-31   14154         49   217              7
47 2022-08-02  109188        432   108             54
48 2022-08-03   46506        184    69             23
49 2022-08-04  123342        488   244             61
50 2022-08-05   26286        104    65             13
51 2022-08-07  202200        800   700            100
52 2022-08-08   20220         80    80             10
53 2022-08-09   14154         56    63              7
54 2022-08-10   76836        304   380             38
55 2022-08-11   30330        120   165             15
56 2022-08-12   46506        184   276             23
57 2022-08-15   16176         64   120              8
58 2022-08-16   10110         40    80              5
59 2022-08-17  107166        424   901             53

In [ ]:
def most_common_words(selected_user, df):
  if selected_user != 'Overall':
    df = df[df['User'] == selected_user]
  new_df = df[df['User'] != 'group_notification']
  new_df = new_df[new_df['Message'] != '<Media omitted>\n']

  f = open('stop_hinglish.txt')
  stop_words = f.read()

  words = []

  for message in new_df['Message']:
    for word in message.lower().split():
      if word not in stop_words:
        words.append(word)
  
  most_common_df = pd.DataFrame(Counter(words).most_common(20), columns=['Message', 'Count'])
  return most_common_df